<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<style type="text/css">
		p { text-align: justify; }
	</style>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1>Crops and Markets</h1>
						<!-- <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
						<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->

						<br>
						<p>¡Bienvenido a Crops and Markets!</p>
						<p>Crops and Markets es un sitio privado y exclusivo de <a href="http://www.semillas-sz.com">Semillas SZ</a>, el cual intenta facilitar la gestión de predios y gestión comercial de la empresa, por medio de organizar y visualizar de forma georeferenciada la información ingresada en el sistema.</p>

						<p><strong>Crops</strong> ataca el problema de que para cultivar semillas de papas, por motivos de la rotación de cultivos, es necesario plantar en predios diferentes todos los años. Esto trae consigo la necesidad de encontrar de manera rápida predios los cuales cumplan con una serie de características que permitan el cultivo de semillas de papas en esa zona, junto con posteriormente poder llevar un registro y mantener un seguimiento de las diferentes plantaciones realizadas.</p>

						<p>Por otro lado, <strong>Markets</strong> refiere a la gestión comercial de la empresa, en el aspecto de la identificación y clasificación ágil de los actuales y potenciales clientes, y a su vez el registro de las diferentes transacciones tanto físicas como valorizadas realizadas a cada uno de ellos.</p>

						<p>Para navegar por el sitio, utilize la barra de navegación a su izquierda.</p>

						<hr>{% include "menu_toggle.html" %}
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="static/js/bootstrap.min.js"></script>

	<!-- Menu Toggle Script -->
	<script src="static/js/menu_toggle.js"></script>

	<!-- Google analytics -->
	<script src="static/js/googleanalytics.js"></script>

	<!-- Mark current tab in sidebar -->
	<script>
		$("#home").addClass("active");
	</script>
</body>

</html>
