<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a id="home" href="home">Crops and Markets</a></li>
		<li>
			<a id="crops" href="crops">Crops</a>
			<ul>
				<li id="crops_map"><a  href="crop_map">Mapa</a></li>
				<li><a id="crops_table" href="crop_table">Predio</a></li>
				<li><a id="crops_plantation_table" href="plantation_table" class="sidebar-link">Cultivos</a></li>
				<li><a id="crops_add_crop" href="add_crop">Agregar predio</a></li>
			</ul>
		</li>
		<li>
			<a id="markets"href="markets">Markets</a>
			<ul>
				<li><a id="markets_map" href="market_map">Mapa</a></li>
				<li><a id="markets_table" href="market_table">Clientes</a></li>
				<li><a id="markets_table_potential" href="market_table_potential">Clientes potenciales</a></li>
				<li><a id="markets_add_market" href="add_market">Agregar cliente</a></li>
			</ul>
		</li>
		<li>
			<a id="related" href="related">Contactos</a>
			<ul>
				<li><a id="related_table" href="related_table">Contactos relacionados</a></li>
				<li><a id="related_add_related" href="add_related">Agregar contacto</a></li>
			</ul>
		</li>
		<li><a id="export_documents" href="export_documents">Exportar documentos</a></li>
		<li><a id="about" href="about">About</a></li>
		<li><a id="logout" href="logout">Log Out</a></li>
	</ul>
</div>