<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="home">Crops and Markets</a></li>

		<li> <!-- crops -->
			<a href="crops">Crops</a>
			<ul>
				<li><a href="crop_map">Mapa</a></li>
				<li>Tabla</li>
				<li>Agregar nuevo</li>
			</ul>
		</li>

		<li> <!-- markets -->
			<a href="markets">Markets</a>
			<ul>
				<li><a href="market_map">Mapa</a></li>
				<li><a href="market_table">Clientes</a></li>
				<li><a href="market_table_potential">Clientes potenciales</a></li>
				<li><a href="add_market">Agregar nuevo</a></li>
			</ul>
		</li>

		<li>
			<a href="about">About</a>
		</li>
	</ul>
</div>