<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="home">Crops and Markets</a></li>
		<li>
			<a href="crops">Crops</a>
			<ul>
				<li><a href="crop_map">Mapa</a></li>
				<li><a href="crop_table">Crops</a></li>
				<li><a href="plantation_table">Plantaciones</a></li>
				<li><a href="add_crop">Agregar predio</a></li>
			</ul>
		</li>
		<li>
			<a href="markets">Markets</a>
			<ul>
				<li><a href="market_map">Mapa</a></li>
				<li><a href="market_table">Clientes</a></li>
				<li><a href="market_table_potential">Clientes potenciales</a></li>
				<li><a href="add_market">Agregar cliente</a></li>
			</ul>
		</li>
		<li>
			<a href="related">Contactos</a>
			<ul>
				<li><a href="related_table">Contactos relacionados</a></li>
				<li><a href="add_related">Agregar contacto</a></li>
			</ul>
		</li>
		<li><a href="about">About</a></li>
		<li><a href="logout">Log Out</a></li>
	</ul>
</div>