<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Agregar predio</h2>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new crop form -->
					<form action="" method="POST"> {% csrf_token %}
						<!-- Clients information -->
						<div class="row">
							<h3>Información de cliente</h3>
							<!-- use known owner -->
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="first_name">Propietario <label id="prop-asterisk" style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ owner_form.old_owner }}
										<input type="checkbox" id="new-owner"> agregar nuevo propietario
								</div>
								{% if owner_form.errors %}<ul id="prop-error"><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>
						
								<!-- use new owner -->
							<span  id="owner-form" style="display: none;">
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="first_name">Nombre <label style="color:red">*</label></label>
									<div class="col-sm-8">
										{{ owner_form.first_name }}
									</div>
								{% if owner_form.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
								</div>
								
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="last_name">Apellido <label style="color:red">*</label></label>
									<div class="col-sm-8">
										{{ owner_form.last_name }}
									</div>
								{% if owner_form.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
								</div>
								
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="contact_number_1">Número de contacto</label>
									<div class="col-sm-8">
										{{ owner_form.contact_number_1 }}
									</div>
								</div>
							
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="contact_number_2">Número de contacto 2</label>
									<div class="col-sm-8">
										{{ owner_form.contact_number_2 }}
									</div>
								</div>

								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="email">Email</label>
									<div class="col-sm-8">
										{{ owner_form.email }}
									</div>
								</div>

								<div class="col-sm-12" id="position"style="display: none;">
									<label class="control-label col-sm-4" for="position">Cargo</label>
									<div class="col-sm-8">
										{{ owner_form.position }}
									</div>
								</div>

								<!-- Company information -->
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="company_member"><h4>Miembro de empresa</h4></label>
									<div class="col-sm-8">
										<div class="checkbox">
											{{ company_form.company_member }} si
										</div>
									</div>
								</div>

								<div class="col-sm-12" id="company-info" style="display: none;">
									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="excisting_company">Compañía <label id="company-asterisk" style="color:red">*</label></label>
										<div class="col-sm-8">
											{{ company_form.excisting_company }}
											<input type="checkbox" id="new-company"> otra compañía
										</div>
										{% if company_form.excisting_company.errors %}<ul id="new-company-error"><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
									</div>

									<div class="col-sm-12" style="display: none;" id="company-name">
										<label class="control-label col-sm-4" for="name">Nombre compañía <label style="color:red">*</label></label>
										<div class="col-sm-8">
											{{ company_form.name }}
										</div>
										{% if company_form.name.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
									</div>

									<div class="col-sm-12" style="display: none;" id="company-rut">
										<label class="control-label col-sm-4" for="rut">Rut compañía</label>
										<div class="col-sm-8">
											{{ company_form.rut }}
										</div>
									</div>

								</div>
							</span>

						</div>

						<!-- Geographic information -->
						<div class="row">
							<h3>Información geográfica</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4">Región <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ crop_form.region }}
								</div>
								{% if crop_form.region.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4">Provincia</label>
								<div class="col-sm-8">
									<select name="province" id="id_province" class="form-control input-sm">
										<option selected="selected" value="">Seleccione provincia</option>
									</select>
									 <input type="hidden" id="province_trick" name="province_trick" value="">
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4">Comuna</label>
								<div class="col-sm-8">
									<select name="commune" id="id_commune" class="form-control input-sm">
										<option selected="selected" value="">Seleccione comuna</option>
									</select>
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4">Dirección</label>
								<div class="col-sm-8">
									{{ crop_form.address }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="col-sm-4">
									<label class="control-label">Latitud, Longitud</label>
								</div>
								<div class="col-sm-4">
									{{ crop_form.latitude }}
								</div>
								<div class="col-sm-4">
									{{ crop_form.longitude }}
								</div>
							</div>

						</div>

						<!-- Terain characteristics -->
						<div class="row">
							<h3>Información del terreno</h3>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_1">Número de hectáreas [Ha]</label>
								<div class="col-sm-8">
									{{ crop_form.has }}
								</div>
								{% if crop_form.has.errors %}<ul><li><label style="color:red">Debe ingresar un valor entre [0, 32767].</label></li></ui>{% endif %}
							</div>


							<div class="col-sm-12">
								<div class="col-sm-4">
									<label class="control-label">Disponibilidad de agua <label style="color:red">*</label></label>
									<label style="float: right;">{{ crop_form.water }}</label>
								</div>
								<div class="col-sm-8">
									{{ crop_form.water_cmnt }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="col-sm-4">
									<label class="control-label">Calidad de suelo <label style="color:red">*</label></label>
									<label style="float: right;">{{ crop_form.soil }}</label>
								</div>
								<div class="col-sm-8">
									{{ crop_form.soil_cmnt }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="col-sm-4">
									<label class="control-label" for="varieties">Topografía de suelo <label style="color:red">*</label></label>
									<label style="float: right;">{{ crop_form.topography }}</label>
								</div>
								<div class="col-sm-8">
									{{ crop_form.topography_cmnt }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="col-sm-4">
									<label class="control-label">Temperaturas adecuadas <label style="color:red">*</label></label>
									<label style="float: right;">{{ crop_form.temperatures }}</label>
								</div>
								<div class="col-sm-8">
									{{ crop_form.temperatures_cmnt }}
								</div>
							</div>
						</div>
					
						<!-- Observations -->
						<div class="row">
							<h3>Observaciones</h3>
							<div class="col-sm-12">
								{{ crop_form.observations }}
							</div>
							{{ owner_form.observations.errors }}
						</div>

						<br>
						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" value="Agregar" class="btn btn-default">
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
				</div>

			</div>
		</div>
	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

	<script src="static/js/regions.js"></script>
	<script src="static/js/rut_validator.js"></script>

	<script type="text/javascript">
	/* Toggle logic */
	$("#new-owner").click(function(e){
		if ($("#new-owner").prop("checked")){
			$("#prop-error").fadeOut(100);
			$("#id_old_owner").prop('disabled', true);
			$("#prop-asterisk").fadeOut(200);
		}
		else {
			$("#prop-error").fadeIn(100);
			$("#id_old_owner").prop('disabled', false);
			$("#prop-asterisk").fadeIn(200);
		}
		$("#owner-form").toggle(300);
	});

	$("#id_company_member").click(function(e){
		$("#position").toggle(300);
		$("#company-info").toggle(300);
	});

	$("#new-company").click(function(e){
		if ($("#new-company").prop("checked")) {
			$("#new-company-error").fadeOut(100);
			$("#id_excisting_company").prop('disabled', true);
			$("#company-asterisk").fadeOut(200);
		}
		else {
			$("#new-company-error").fadeIn(100);
			$("#id_excisting_company").prop('disabled', false);
			$("#company-asterisk").fadeIn(200);
		}
		$("#company-name").toggle(200);
		$("#company-rut").toggle(200);
	});
	</script>
	
	<script type="text/javascript">
	// capitalises name and lastname
	$("#id_first_name").change(function(){
		var name = $(this).val();
		var uc = name.charAt(0).toUpperCase();
		$(this).val(uc + name.substring(1));
	});
	$("#id_last_name").change(function(){
		var lastName = $(this).val();
		var uc = lastName.charAt(0).toUpperCase();
		$(this).val(uc + lastName.substring(1));
	});
	</script>
</body>

</html>