<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Agregar un nuevo propietario</h2>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == "success" %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new client form -->
					<form action="" method="POST"> {% csrf_token %}

						<!-- Contact information -->
						<div class="row">
							<h3>Información de contacto</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="first_name">Nombre <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ owner_form.first_name }}
								</div>
							</div>
							{{ owner_form.first_name.errors }}
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="last_name">Apellido <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ owner_form.last_name }}
								</div>
							</div>
							{{ owner_form.last_name.errors }}

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_1">Número de contacto</label>
								<div class="col-sm-8">
									{{ owner_form.contact_number_1 }}
								</div>
							</div>
							{{ owner_form.contact_numbers_1.errors }}
						
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_2">Número de contacto 2</label>
								<div class="col-sm-8">
									{{ owner_form.contact_number_2 }}
								</div>
							</div>
							{{ owner_form.contact_numbers_2.errors }}

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="email">Email</label>
								<div class="col-sm-8">
									{{ owner_form.email }}
								</div>
							</div>
							{{ owner_form.email.errors }}

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="cargo">Cargo</label>
								<div class="col-sm-8">
									{{ owner_form.charge }}
								</div>
							</div>
							{{ owner_form.email.charge }}
						</div>

						<!-- Company information -->
						<div class="row">
							<h3>Información de compañía</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Compañía</label>
								<div class="col-sm-8">
									{{ company_form.excisting_company }}
								</div>
							</div>

							<div class="col-sm-12"><br>
								<label class="control-label col-sm-4" for="observations">Nombre compañía</label>
								<div class="col-sm-8">
									{{ company_form.name }}
								</div>
								{{ company_form.name.errors }}
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Rut compañía</label>
								<div class="col-sm-8">
									{{ company_form.rut }}
								</div>
								{{ company_form.rut.errors }}
							</div>
						</div>

						<!-- Observations -->
						<div class="row">
							<h3>Observaciones</h3>
							<div class="col-sm-12">
								{{ owner_form.observations }}
							</div>
							{{ owner_form.observations.errors }}
						</div>

						<br>
						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" value="Agregar" class="btn btn-default">
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
				</div>

			</div>
		</div>
	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>
	
</body>

</html>