<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1>Crops</h1>

						<p>
							La sección de Crops se utilizará para almacenar la posición geográfica de los diferentes predios y relacionarla con información relevante a estos. A grandes rasgos lo que se busca es;
							<ol>
								<li>Identificar los predios.</li>
								<li>Almacenar información respecto de las características de cada predio.</li>
								<li>Identificar las diferentes plantaciones realizadas en los predios.</li>
								<li>Permitir ingresar observaciones y registros fotográficos.</li>
								<li>Desplegar la información de manera rápida y ordenada.</li>
							</ol>
							Esto permite al agricultor quien busca campo para su próxima cosecha, encontrar el campo con mayor potencial de rendimiento posible, y disminuir así su función de costo junto con obtener un mejor control respecto del riesgo en el cual desea incurrir.
						</p>

						<hr>{% include "menu_toggle.html" %}
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>


</body>

</html>
