<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- List.js -->
	<script src="static/js/list.js"></script>
	<!-- <script src="http://listjs.com/no-cdn/list.js"></script> -->

	<style type="text/css">
	input {
		border:solid 1px #ccc;
		border-radius: 5px;
		padding:7px 14px;
		margin-bottom:10px
	}
	input:focus {
		border-color:#aaa;
	}
	</style>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Tabla de crops</h2>

				<h3>Información de contacto</h3>

				<div id="clients">

					<input class="search" placeholder="Buscar"/>
					<button class="btn btn-default sort" data-sort="name">Ordenar por nombre</button>
					<button class="btn btn-default sort" data-sort="last_name">Ordenar por apellido</button>
					<button class="btn btn-default sort" data-sort="zone">Ordenar por zona</button>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Número contacto</th>
								<th>Zona</th>
								<th>Tamaño</th>
								<th><!-- view detail --></th>
							</tr>
						</thead>
						<tbody class="list">
							{% for client in clients %}
							<tr>
								<td class="name">{{ client.first_name }}</td>
								<td class="last_name">{{ client.last_name }}</td>
								<td>{% if client.contact_number_1 %}
										<a href="tel:{{ client.contact_number_1 }}">{{ client.contact_number_1 }}</a>
									{% else %}-- -- --{% endif %}
								</td>
								<td class="zone">
									{% for gm in client.geomarker_set.all %}
									{{ gm.zone }} 
									{% endfor %}
								</td>
								<td> -- -- -- </td>
								<td><a href="market_info?id={{ client.pk }}">ver detalle</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	var options = {
		valueNames: [ 'name', 'last_name', 'zone' ]
	};
	var userList = new List('clients', options);
	</script>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

</body>
</html>