<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- List.js -->
	<script src="static/js/list.js"></script>
	<!-- <script src="http://listjs.com/no-cdn/list.js"></script> -->

	<style type="text/css">
	input {
		border:solid 1px #ccc;
		border-radius: 5px;
		padding:7px 14px;
		margin-bottom:10px
	}
	input:focus {
		border-color:#aaa;
	}
	</style>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Tabla de crops</h2>

				<h3>Información de contacto</h3>

				<div id="crops">

					<input class="search" placeholder="Buscar"/>
					<button class="btn btn-default sort" data-sort="owner">Ordenar por propietario</button>
					<button class="btn btn-default sort" data-sort="region">Ordenar por región</button>
					<button class="btn btn-default sort" data-sort="req">Ordenar por requisitos</button>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Propietario</th>
								<th>Región</th>
								<th>Dirección</th>
								<th style="text-align: center;">Requisitos clave</th>
								<th><!-- view detail --></th>
							</tr>
						</thead>
						<tbody class="list">
							{% for crop in crops %}
							<tr>
								<td class="owner">
									{% for owner in crop.crop_owner.all %}
										{{ owner }}
									{% endfor %}
								</td>
								<td class="region">{{ crop.region }}</td>
								<td class="address">{% if crop.address %}{{ crop.address }}{% else %}No hay info{% endif %}</td>
								<td class="req" style="text-align: center;">
									{% if crop.water and crop.soil and crop.topography and crop.temperatures %}
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>
									{% else %}
										<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span>
									{% endif %}
								</td>
								<td><a href="crop_info?id={{ crop.pk }}">ver detalle</a></td>
							</tr>
							{% empty %}
							<tr><td>No hay clientes en la base de datos.</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	var options = {
		valueNames: [ 'owner', 'region', 'req' ]
	};
	var userList = new List('crops', options);
	</script>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

</body>
</html>