<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<style>
	#map-canvas {
		width: 100%;
		height: 250px;
		border-style: solid;
	}

	.write {
		display: none;
	}
	</style>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="https://maps.googleapis.com/maps/api/js?sensor=true&v=3"></script>
	<script src="static/js/jquery.js"></script>
	<script async src="static/js/bootstrap.min.js"></script>
	<script async src="static/js/menu_toggle.js"></script>
	<script async src="static/js/googleanalytics.js"></script>
	<script async src="static/js/regions.js"></script>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<h2>Predio #{{ id }}
						<button id="edit-button" class="btn btn-success pull-right">Editar</button>
						<button type="submit" form="edit-form" class="btn btn-primary pull-right save-changes" style="display: none;">Guardar</button>
					</h2>

					{% if messages %}
					<!-- For message to user -->
					<div class="row">
						<div class="col-xs-12">
						{% for message in messages %}
							<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
								{{ message }}
							</p>
						{% endfor %}
						</div>
					</div> 
					{% endif %}

					<form action="crop_info?id={{ crop.pk }}" method="POST" id="edit-form">{%csrf_token %}
						<!-- Contact information -->
						<h3>Contacto</h3>
						<table class="table table-hover">
							<tr>
								<td class="col-xs-4">Dueño</td>
								<td class="col-xs-8">{{ owner }}</td>
								<td style="display: none;">{{ owner_form.first_name }}{{ owner_form.last_name }}</td>
							</tr>
							<tr>
								<td>Número</td>
								<td class="read"><a href="{{ owner.contact_number_1 }}">{{ owner.contact_number_1 }}</a></td>
								<td class="write">{{ owner_form.contact_number_1 }}</td>
							</tr>
							<tr id="number-2" style="{% if not owner.contact_number_2 %}display: none;{% endif %}">
								<td>Número 2</td>
								<td class="read"><a href="{{ owner.contact_number_2 }}">{{ owner.contact_number_2 }}</a></td>
								<td class="write">{{ owner_form.contact_number_2 }}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td class="read"><a href="mailto:{{ owner.email }}">{{ owner.email }}</a></td>
								<td class="write">{{ owner_form.email }}</td>
							</tr>
							{% if owner.company %}
							<tr>
								<td>Cargo</td>
								<td>{{ owner.position }}</td>
							</tr>
							{% endif %}
						</table>

						{% if owner.company %}
						<h3>Información de empresa</h3>
						<table class="table table-hover">
							<tr>
								<td class="col-xs-4">Compañía</td>
								<td class="col-xs-8">{{ owner.company }}</td>
							</tr>
							<tr>
								<td>Rut empresa</td>
								<td>{{ owner.company.rut }}</td>
							</tr>
						</table>
						{% endif %}

						<!-- General information about the area -->
						<h3>Datos generales del predio</h3>
						<table class="table table-hover">
							<tr>
								<td class="col-xs-4">Hectareas</td>
								<td class="col-xs-8 read">{{ crop.has }} {% if crop.has %}[has]{% endif %}</td>
								<td class="col-xs-8 write" style="display: none;">{{ crop_form.has }}</td>
							</tr>
							<tr>
								<td class="col-xs-4">Agua <label class="write" style="float: right;">{{ crop_form.water }}</label></td>
								<td class="col-xs-8 read">
									{% if crop.water %}
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;">&nbsp;</span>
									{% else %}
										<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;">&nbsp;</span>
									{% endif %}
									{{ crop.water_cmnt }}
								</td>
								<td class="col-xs-8 write" style="display: none;">
									{{ crop_form.water_cmnt }}
								</td>
							</tr>

							<tr>
								<td class="col-xs-4">Calidad de suelo <label class="write" style="float: right;">{{ crop_form.soil }}</label></td>
								<td class="col-xs-8 read">
									{% if crop.soil %}
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;">&nbsp;</span>
									{% else %}
										<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;">&nbsp;</span>
									{% endif %}
									{{ crop.soil_cmnt }}
								</td>
								<td class="col-xs-8 write" style="display: none;">
									{{ crop_form.soil_cmnt }}
								</td>
							</tr>

							<tr>
								<td class="col-xs-4">Topografía <label class="write" style="float: right;">{{ crop_form.topography }}</label></td>
								<td class="col-xs-8 read">
									{% if crop.topography %}
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;">&nbsp;</span>
									{% else %}
										<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;">&nbsp;</span>
									{% endif %}
									{{ crop.topography_cmnt }}
								</td>
								<td class="col-xs-8 write" style="display: none;">
									{{ crop_form.topography_cmnt }}
								</td>
							</tr>

							<tr>
								<td class="col-xs-4">Temperaturas <label class="write" style="float: right;">{{ crop_form.temperatures }}</label></td>
								<td class="col-xs-8 read">
									{% if crop.temperatures %}
										<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;">&nbsp;</span>
									{% else %}
										<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;">&nbsp;</span>
									{% endif %}
									{{ crop.temperatures_cmnt }}
								</td>
								<td class="col-xs-8 write" style="display: none;">
									{{ crop_form.temperatures_cmnt }}
								</td>
							</tr>
						</table>

						<h3>Información geográfica</h3>
						<table class="table table-hover">
							<tr>
								<td class="col-xs-4">Región</td>
								<td class="col-xs-8 read">{{ crop.region }}</td>
								<td class="write">{{ crop_form.region }}</td>
							</tr>
							<tr>
								<td>Provincia</td>
								<td class="read">{{ crop.province }}</td>
								<td class="write">
									<select name="province" id="id_province" class="form-control input-sm">
										<option selected="selected" value="">Seleccione provincia</option>
									</select>
									<input type="hidden" id="province_trick" name="province_trick" value="">
								</td>
							</tr>
							<tr>
								<td>Comuna</td>
								<td class="read">{{ crop.commune }}</td>
								<td class="write">
									<select name="commune" id="id_commune" class="form-control input-sm">
										<option selected="selected" value="">Seleccione comuna</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Dirección</td>
								<td class="read">{{ crop.address }}</td>
								<td class="write">{{ crop_form.address }}</td>
							</tr>
							<tr>
								<td>Distancia a SZ</td>
								<td><span id="id_distance">≈ x [km]</span></td>
							</tr>
						</table>
						<div class="col-bg-12" id="map-canvas" style="display: none;"><!-- map goes here --></div>
						<span id="map-leyend" style="display: none;"><p class="text-right small">El marcador <label style="color: green">verde</label>/<label style="color: red">rojo</label> indica la posición del predio. El marcador <label style="color: purple">púrpura</label> su posición actual, y el <label style="color: blue">azul</label> la posición de Semillas SZ.</p></span>

						<button type="button" class="btn btn-default" id="mapButton" onclick="displayMap()">Mostrar mapa</button>
						<a href="photo_library?id={{ crop.pk }}" class="btn btn-default">Registro fotográfico</a>

						<h3>Observaciones</h3>
						<div class="read" style="border: 1px solid #CCCCCC">
							<p class="text-justify" style="margin: 1%; white-space: pre-wrap"> {{ crop.observations }}</p>
						</div>
						<div class="write" style="display: none;">
							{{ crop_form.observations }}
						</div>

						<br class="write">
						<button type="submit" form="edit-form" class="btn btn-primary save-changes" style="display: none;">Guardar</button>
						<button name="delete" class="btn btn-danger pull-right write" style="display: none;" onclick="return confirm('Está seguro que desea eliminar a {{ client }} de la base de datos?\nEste proceso es irreversible.');">Borrar</button>
					</form>

					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
					<a href="crop_table" class="btn btn-default" id="return">Volver</a>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		getDistance();
	});

	function getDistance(){
		var distance = -1;
		var address = "{{ crop.address }}, {{ crop.region }}, Chile";
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address': address}, function(results, status){
			if (status == google.maps.GeocoderStatus.OK){
				var sz =  new google.maps.LatLng(-41.11949,-73.05709); // semillas-sz coordenates
				distance = calculateDistance(sz.lat(), sz.lng(), results[0].geometry.location.lat(), results[0].geometry.location.lng());
				distance = toKm(distance);
				$("#id_distance")[0].innerHTML = "≈ " + distance + " [km]";
			}
			else 
				alert('Geocode was not succesful for the following reason:' + status);
		});
	}

	/** calculates de distance between two places on earth (lat1, lng1) and (lat2, lng2)
	 * uses spherical law of cosines aproximation. 
	 * returns distance in meters */
	function calculateDistance(lat1, lng1, lat2, lng2){
		var φ1 = toRadians(lat1);
		var φ2 = toRadians(lat2);
		var Δλ = toRadians(lng2-lng1);
		var R = 6371000; // gives d in metres
		var d = Math.acos( Math.sin(φ1)*Math.sin(φ2) + Math.cos(φ1)*Math.cos(φ2)*Math.cos(Δλ) ) * R;
		return d;
	}

	/** convers point x from decimal degree to radian degree */
	function toRadians(x){
		return x * Math.PI / 180;
	}

	function toKm(mt){
		return Math.round(mt / 1000);
	}
	</script>

	<script type="text/javascript">
	$(document).ready(function(){
		$("#id_first_name").val("{{ owner.first_name }}");
		$("#id_last_name").val("{{ owner.last_name }}");
		$("#id_contact_number_1").val({{ owner.contact_number_1 }});
		$("#id_contact_number_2").val({{ owner.contact_number_2 }});
		$("#id_email").val("{{ owner.email }}");
		
		$("#id_has").val({{ crop.has }});
		$("#id_water").prop("checked", {% if crop.water %}true{% else %}false{% endif %});
		$("#id_water_cmnt").val("{{ crop.water_cmnt }}");
		$("#id_soil").prop("checked", {% if crop.soil %}true{% else %}false{% endif %});
		$("#id_soil_cmnt").val("{{ crop.soil_cmnt }}");
		$("#id_topography").prop("checked", {% if crop.topography %}true{% else %}false{% endif %});
		$("#id_topography_cmnt").val("{{ crop.topography_cmnt }}");
		$("#id_temperatures").prop("checked", {% if crop.temperatures %}true{% else %}false{% endif %});
		$("#id_temperatures_cmnt").val("{{ crop.temperatures_cmnt }}");

		$("#id_region")[0].selectedIndex = {{ crop.region.pk }};
		if ("{{ crop.province }}" != "None"){
			var provinceSelector = document.getElementById("id_province");
			provinceSelector.options[0] = new Option('{{ crop.province }}', '{{ crop.province.pk }}');
			$("#province_trick").val("{{ crop.province }}");
		}
		if ("{{ crop.commune }}" != "None"){
			var communeSelector = document.getElementById("id_commune");
			communeSelector.options[0] = new Option('{{ crop.commune }}', '{{ crop.commune }}');
		}
		$("#id_address").val("{{ crop.address }}");
		$("#id_observations").val("{{ crop.observations }}");
	});

	$("#edit-button").click(function (){
		$(".save-changes").slideToggle("fast");
		$(".read").toggle();
		$("#number-2").show();
		$(".write").toggle(100);
	});
	</script>

	<script type="text/javascript">
	/** shows or hides map */
	var map_init = false;
	function displayMap(){
		var button = $("#mapButton");
		button.text(button.text() == "Mostrar mapa" ? "Ocultar mapa" : "Mostrar mapa");

		$("#map-canvas").slideToggle("slow");
		$("#map-leyend").toggle();

		if (! map_init) {
			initialize();
			map_init = true;
		}
	}

	/* initializes the map and places marker */
	function initialize(){
		var address = "{{ crop.address }}, {{ crop.region }}, Chile";
		var mapCanvas = $("#map-canvas")[0];
		if (address != ""){
			var mapOptions = {
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({'address': address}, function(results, status){
				if (status == google.maps.GeocoderStatus.OK){
					mapOptions.center = results[0].geometry.location;
					var map = new google.maps.Map(mapCanvas, mapOptions);

					var marker = new google.maps.Marker({
						position: results[0].geometry.location, 
						map: map
					});

					{% if crop.water and crop.soil and crop.topography and crop.temperatures %}
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					{% else %}
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
					{% endif %}

					// HQ Marker (Semillas-SZ)
					var sz =  new google.maps.LatLng(-41.11949,-73.05709); // semillas-sz coordenates
					var szMarker = new google.maps.Marker({
						position: sz,
						map: map, 
						icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
					});
					var szInfoWindow = new google.maps.InfoWindow({
						content: "Semillas SZ"
					});
					google.maps.event.addListener(szMarker, 'click', function(){
						szInfoWindow.open(map, szMarker);
					}); 

					// Current position
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function(position) {
							var pos = {
								lat: position.coords.latitude,
								lng: position.coords.longitude
							};
							var myCurrentLocationMarker = new google.maps.Marker({
								position: pos,
								map: map, 
								icon: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png'
							});
							var myCurrentLocationInfoWindow = new google.maps.InfoWindow({
								content: "mi ubicación actual"
							});
							google.maps.event.addListener(myCurrentLocationMarker, 'click', function(){
								myCurrentLocationInfoWindow.open(map, myCurrentLocationMarker);
							});
						}, function() {
							handleLocationError(true, infoWindow, map.getCenter());
						});
					} 
					else {
						// Browser doesn't support Geolocation
						handleLocationError(false, infoWindow, map.getCenter());
					}
				}
				else {
					alert('Geocode was not succesful for the following reason:' + status); 
				}
			});
		}
		else 
			mapCanvas.text("No se tiene información geográfica respecto de este cliente.");
	}
	</script>

</body>

</html>
