<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Google maps -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script>
		// creates the html content for a marker
		function createInfoWindowContent(heading, info, whereTo){
			var content = '<div id="content">';
			content += '<div id="siteNotice"></div>';
			content += '<h1 id="firstHeading" class="firstHeading">' + heading + '</h1>';
			for (var i=0; i<info.length; i++)
				content += '<p>' + info[i] + '</p>';
			content += '<a href="' + whereTo + '">';
			content += '<button class="btn btn-default">Más info</button>';
			content += '</a>';
			content += '</div>';
			content += '</div>';

			return content;
		}

		function initialize() {
			var mapCanvas = document.getElementById("map-canvas");

			// map
			var mapOptions = {
				center: new google.maps.LatLng(-41.092427,-73.1488737),
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);

			// markets
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(-41.092427,-73.1488737),
				title: 'Campo A'
			});
			var marker2 = new google.maps.Marker({
				position: new google.maps.LatLng(-41.192427,-73.4688737),
				title: 'Campo B'
			});
			marker.setMap(map);
			marker2.setMap(map);

			// content and info windows
			var contentString = createInfoWindowContent('Frutillar',
				['Frutillar es una comuna, ciudad y balneario lacustre ubicada en la zona sur de Chile, en la ribera oeste del lago Llanquihue, en la Región de Los Lagos. Se caracteriza por la belleza de su paisaje, las tradiciones alemanas de sus fundadores y las Semanas Musicales de Frutillar. Es conocida como la "Ciudad de la Música".', 'Attribution: Frutillar, <a href="http://es.wikipedia.org/wiki/Frutillar">http://es.wikipedia.org/wiki/Frutillar</a> (actualizado el Junio 2, 2015).'],
				"crop_info"
			);
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			var contentString2 =
				'<div id="content">'+
					'<div id="siteNotice"></div>'+
					'<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
					'<div id="bodyContent">'+
						'<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park. Uluru is sacred to the Pitjantjatjara and Yankunytjatjara, the Aboriginal people of the area. It has many springs, waterholes, rock caves and ancient paintings. Uluru is listed as a World Heritage Site.</p>'+
						'<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">https://en.wikipedia.org/w/index.php?title=Uluru</a>(last visited June 22, 2009).</p>'+
					'</div>'+
					'<a href="crop_info"><button class="btn btn-default">Más info</button></a>'+
				'</div>';
			var infowindow2 = new google.maps.InfoWindow({
			  content: contentString2
			});

			// action listeners
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});
			google.maps.event.addListener(marker2, 'click', function() {
				infowindow2.open(map,marker2);
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<style>
		#map-canvas {
			width: 100%;
			height: 700px;
		}
	</style>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1>Crops</h1>

						<div id="map-canvas"></div>

						<br>
						<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

</body>

</html>
