<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Agregar un nuevo cliente</h2>
				<br>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == "success" %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new client form -->
					<form action="" method="POST"> {% csrf_token %}
					
						<!-- Type of contact -->
						<div class="row">
							<label class="control-label col-sm-4" for="type_of_client"><h4>Tipo de cliente <label style="color:red">*</h4></label></label>
							<div class="col-sm-8">
								{{ client_form.type_of_client }}
							</div>
						</div>

						<!-- Contact information -->
						<div class="row">
							<h3>Información de contacto</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="first_name">Nombre <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.first_name }}
								</div>
							</div>
							{{ client_form.first_name.errors }}
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="last_name">Apellido <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.last_name }}
								</div>
							</div>
							{{ client_form.last_name.errors }}
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_1">Número de contacto</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_1 }}
								</div>
							</div>
							{{ client_form.contact_numbers_1.errors }}
						
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_2">Número de contacto 2</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_2 }}
								</div>
							</div>
							{{ client_form.contact_numbers_2.errors }}

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="email">Email</label>
								<div class="col-sm-8">
									{{ client_form.email }}
								</div>
							</div>		
							{{ client_form.email.errors }}
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Observaciones</label>
								<div class="col-sm-8">
									{{ client_form.observations }}
								</div>
							</div>		
							{{ client_form.observations.errors }}
						</div>

						<!-- Geographic information -->
						<div class="row">
							<h3>Información geográfica</h3>

							<div id="places">
								<div id="id_geoinfo_0">

									<!-- Geoinfo form --> 
									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="zone">Zona</label>
										<div class="col-sm-8">
											{{ geographical_form.zone }}
										</div>
									</div>

									<!-- Region ~~ # maybe interesting in talking about chile only ~~ todo: check if this field would be usefull in some way.
									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="region">Región</label>
										<div class="col-sm-8">
											{{ gmarker.region }}
										</div>
									</div> -->

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="direction">Dirección</label>
										<div class="col-sm-8">
											{{ geographical_form.address }}
										</div>
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="lat">Latitud</label>
										<div class="col-sm-8">
											{{ geographical_form.latitude }}
										</div>
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="lng">Longitud</label>
										<div class="col-sm-8">
											{{ geographical_form.longitude }}
										</div>
									</div>

								</div>
							</div>

							<!-- Add another geoinfo forum button -->
							<div id="add_geoinfo" class="col-sm-12" align="right">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
								<label class="control-label">Agregar lugar</label>
							</div>
							
						</div>

						<!-- Comercial information -->
						<div class="row">
							<h3>Información comercial</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="volume">Volumen</label>
								<div class="col-sm-8">
									{{ comercial_info_form.volume }}
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="varieties">Variedades</label>
								<div class="col-sm-8">
									{{ comercial_info_form.varieties }}
								</div>
							</div>

							<!-- todo > future fields.
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="type_of_client"></label>
								<div class="col-sm-8">
									{{ comercial_info.type }}
								</div>
							</div> -->
						</div>
						<br>

						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" value="Agregar" class="btn btn-default">
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
				</div>

			</div>
		</div>
	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>
	
</body>

<script type="text/javascript">
/* For multiple location forums manageing */
function addForm(btn, prefix){
	// var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
}

function deleteForm(btn, prefix){

}

$("#add_geoinfo").click(function () {
	return addForm(this, 'geoinfo');
});

</script>

<script type="text/javascript">
///////////////////////////////// u-salidas //////////////////////////
/*
	function deleteForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.item').remove();
                var forms = $('.item'); // Get all the forms
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
                // Validate dates
                count_avaliable_days(0);
            }
            else {
                alert("Debes agregar al menos un destino!");
            }
            return false;
        }

        function addForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            // You can only submit a maximum of 'maxForms' forms
            var maxForms = 10;
            if (formCount < max_forms) {
                // Clone a form (without event handlers) from the first form
                var row = $(".item:first").clone(false).get(0);

                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass('error');
                // Relabel/rename all the relevant bits
				$(row).children().children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    if ($(this).attr('type') == 'text')
                        $(this).val('');
                });
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    if ($(this).attr('type') == 'text')
                        $(this).val('');
                });

                // Add an event handler for the delete item/form link
                $(row).find('.delete').click(function () {
                    count_avaliable_days(0);
                    return deleteForm(this, prefix);
                });
                citySelector = $(row).find('.city')[0];
                citySelector.options.length = 0;
                citySelector.options[0] = new Option("Seleccione Ciudad", "");
                // Update the total form count;
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
                $(".datepicker").datepicker();

            } // End if
            else {
                alert("Lo siento, no más de " + maxForms + " lugares.");
            }
            return false;
        }

        // Register the click event handlers
        $("#add_destination").click(function () {
            return addForm(this, 'destinations');
        });

        $(".delete").click(function () {
            return deleteForm(this, 'destinations');
        });
    });
*/
</script>

</html>