<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crops and markets, and bkupfer's thesis">
	<meta name="keywords" content="semillas sz, crops and markerts, bkupfer">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<script src="static/js/jquery.js"></script>
	<script async src="static/js/bootstrap.min.js"></script>
	<script async src="static/js/menu_toggle.js"></script>
	<script async src="static/js/googleanalytics.js"></script>
	<script async src="static/js/rut_validator.js"></script>
	<script async src="static/js/regions.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Agregar cliente</h2>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new client form -->
					<form action="" method="POST"> {% csrf_token %}
					
						<!-- Type of contact -->
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="type_of_client"><h4>Tipo de cliente <label style="color:red">*</label></h4></label>
							</div>
							<div class="col-sm-8">
								{{ client_type_form.type_of_client }}
							</div>
							<div class="col-sm-12">
								{% if client_type_form.type_of_client.errors %}<ul><li><label style="color:red">Este campo es muy obligatorio.</label></li></ui>{% endif %}
							</div>
						</div>

						<!-- Clients information -->
						<div class="row">
							<h3>Información de cliente</h3>
							<!-- Company information -->
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="company_member"><h4>Miembro de empresa</h4></label>
								<div class="col-sm-8">
									<div class="checkbox">
										<input type="checkbox" id="company-member"> si
									</div>
								</div>
							</div>

							<div class="col-sm-12" id="company-info" style="display: none;">
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="excisting_company">Compañía <label id="company-asterisk" style="color:red">*</label></label>
									<div class="col-sm-8">
										{{ company_form.excisting_company }}
										<input type="checkbox" id="new-company"> otra compañía
									</div>
								</div>

								<div class="col-sm-12" style="display: none;" id="company-name">
									<label class="control-label col-sm-4" for="name">Nombre compañía <label style="color:red">*</label></label>
									<div class="col-sm-8">
										{{ company_form.name }}
									</div>
								</div>

								<div class="col-sm-12" style="display: none;" id="company-rut">
									<label class="control-label col-sm-4" for="rut">Rut compañía</label>
									<div class="col-sm-8">
										{{ company_form.rut }}
									</div>
								</div>

							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="first_name">Nombre <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.first_name }}
								</div>
								{% if client_form.first_name.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="last_name">Apellido <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.last_name }}
								</div>
								{% if client_form.last_name.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="last_name">Rut</label>
								<div class="col-sm-8">
									{{ client_form.rut }}
								</div>
							</div>
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_1">Número de contacto</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_1 }}
								</div>
								{% if client_form.contact_number_1.errors %}<ul><li><label style="color:red">Número telefónico debe ser ingresado en formato '+9 9999 9999'.</label></li></ui>{% endif %}
							</div>
						
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_2">Número de contacto 2</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_2 }}
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="email">Email</label>
								<div class="col-sm-8">
									{{ client_form.email }}
								</div>
							</div>

							<div class="col-sm-12" id="position"style="display: none;">
								<label class="control-label col-sm-4" for="position">Cargo</label>
								<div class="col-sm-8">
									{{ client_form.position }}
								</div>
							</div>

						</div>

						<!-- Geographic information -->
						<div class="row">
							<h3>Información geográfica</h3>

							<div id="places">
								<div id="id_geoinfo_0">
									<!-- Geographic information form --> 
									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="zone">Región <label style="color:red">*</label></label>
										<div class="col-sm-8">
											{{ geographical_form.region }}
										</div>
										{% if geographical_form.region.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4">Provincia</label>
										<div class="col-sm-8">
											<select name="province" id="id_province" class="form-control input-sm">
												<option selected="selected" value="">Seleccione provincia</option>
											</select>
											 <input type="hidden" id="province_trick" name="province_trick" value="">
										</div>
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4">Comuna</label>
										<div class="col-sm-8">
											<select name="commune" id="id_commune" class="form-control input-sm">
												<option selected="selected" value="">Seleccione comuna</option>
											</select>
										</div>
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="direction">Dirección</label>
										<div class="col-sm-8">
											{{ geographical_form.address }}
										</div>
									</div>

<!-- 									<div class="col-sm-12">
										<div class="col-sm-4">
											<label class="control-label">Latitud, Longitud</label>
										</div>
										<div class="col-sm-4">
											{{ geographical_form.latitude }}
										</div>
										<div class="col-sm-4">
											{{ geographical_form.longitude }}
										</div>
									</div> -->
								</div>
							</div>

							<!-- Add another geoinfo forum button
							<div id="add_geoinfo" class="col-sm-12" align="right">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
								<label class="control-label">Agregar sucursal</label>
							</div>
							 -->
						</div>

						<!-- Observations -->
						<div class="row">
							<h3>Observaciones</h3>
							<div class="col-sm-12">
								{{ client_form.observations }}
							</div>
						</div>

						<br>
						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-default">Agregar</button>
								<!-- <button type="reset" class="btn btn-default">Limpiar formulario</button> -->
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr>{% include "menu_toggle.html" %}
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
	/* Toggle logic */
	$("#company-member").click(function(e){
		$("#company-info").toggle(300);
		$("#position").toggle(300);
	});

	$("#new-company").click(function(e){
		if ($("#new-company").prop("checked")){
			$("#id_excisting_company").prop('disabled', true);
			$("#company-asterisk").fadeOut(200);
		}
		else{
			$("#id_excisting_company").prop('disabled', false);
			$("#company-asterisk").fadeIn(200);
		}
		$("#company-name").toggle(200);
		$("#company-rut").toggle(200);
	});
	</script>

	<script type="text/javascript">
	// capitalises name and lastname
	$("#id_first_name").change(function(){
		var name = $(this).val();
		var uc = name.charAt(0).toUpperCase();
		$(this).val(uc + name.substring(1));
	});
	$("#id_last_name").change(function(){
		var lastName = $(this).val();
		var uc = lastName.charAt(0).toUpperCase();
		$(this).val(uc + lastName.substring(1));
	});
	</script>
</body>

</html>