<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Agregar cliente</h2>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new client form -->
					<form action="" method="POST"> {% csrf_token %}
					
						<!-- Type of contact -->
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="type_of_client"><h4>Tipo de cliente <label style="color:red">*</label></h4></label>
							</div>
							<div class="col-sm-8">
								{{ client_form.type_of_client }}
							</div>
							<div class="col-sm-12">
								{% if client_form.type_of_client.errors %}<ul><li><label style="color:red">Este campo es muy obligatorio.</label></li></ui>{% endif %}
							</div>
						</div>

						<!-- Clients information -->
						<div class="row">
							<h3>Información de cliente</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="first_name">Nombre <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.first_name }}
								</div>
								{% if client_form.first_name.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="last_name">Apellido <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ client_form.last_name }}
								</div>
								{% if client_form.last_name.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
							</div>
							
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_1">Número de contacto</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_1 }}
								</div>
								{% if client_form.contact_number_1.errors %}<ul><li><label style="color:red">Número telefónico debe ser ingresado en formato '+9 9999 9999'.</label></li></ui>{% endif %}
							</div>
						
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="contact_number_2">Número de contacto 2</label>
								<div class="col-sm-8">
									{{ client_form.contact_number_2 }}
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="email">Email</label>
								<div class="col-sm-8">
									{{ client_form.email }}
								</div>
							</div>

							<!-- Company information -->
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="company_member"><h4>Miembro de empresa</h4></label>
								<div class="col-sm-8">
									<div class="checkbox">
										<input type="checkbox" id="company-member"> si
									</div>
								</div>
							</div>

							<div class="col-sm-12" id="company-info" style="display: none;">
								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="excisting_company">Compañía</label>
									<div class="col-sm-8">
										{{ company_form.excisting_company }}
										<input type="checkbox" id="new-company"> otra compañía
									</div>
								</div>

								<div class="col-sm-12" style="display: none;" id="company-name">
									<label class="control-label col-sm-4" for="name">Nombre compañía</label>
									<div class="col-sm-8">
										{{ company_form.name }}
									</div>
								</div>

								<div class="col-sm-12" style="display: none;" id="company-rut">
									<label class="control-label col-sm-4" for="rut">Rut compañía</label>
									<div class="col-sm-8">
										{{ company_form.rut }}
									</div>
								</div>

								<div class="col-sm-12">
									<label class="control-label col-sm-4" for="position">Cargo</label>
									<div class="col-sm-8">
										{{ client_form.position }}
									</div>
								</div>

							</div>

						</div>

						<!-- Geographic information -->
						<div class="row">
							<h3>Información geográfica</h3>

							<div id="places">
								<div id="id_geoinfo_0">
									<!-- Geographic information form --> 
									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="zone">Región <label style="color:red">*</label></label>
										<div class="col-sm-8">
											{{ geographical_form.region }}
										</div>
										{% if geographical_form.region.errors %}<ul><li><label style="color:red">Este campo es obligatorio.</label></li></ui>{% endif %}
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="zone">Provincia</label>
										<div class="col-sm-8">
											
										</div>
									</div>

									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="zone">Comuna</label>
										<div class="col-sm-8">
											
										</div>
									</div>


									<div class="col-sm-12">
										<label class="control-label col-sm-4" for="direction">Dirección</label>
										<div class="col-sm-8">
											{{ geographical_form.address }}
										</div>
									</div>

									<div class="col-sm-12">
										<div class="col-sm-4">
											<label class="control-label">Latitud, Longitud</label>
										</div>
										<div class="col-sm-4">
											{{ geographical_form.latitude }}
										</div>
										<div class="col-sm-4">
											{{ geographical_form.longitude }}
										</div>
									</div>
								</div>
							</div>

							<!-- Add another geoinfo forum button -->
							<div id="add_geoinfo" class="col-sm-12" align="right">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
								<label class="control-label">Agregar sucursal</label>
							</div>
						</div>

						<!-- Observations -->
						<div class="row">
							<h3>Observaciones</h3>
							<div class="col-sm-12">
								{{ client_form.observations }}
							</div>
						</div>

						<br>
						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" value="Agregar" class="btn btn-default">
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
				</div>

			</div>
		</div>
	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>
	
	<script type="text/javascript">
	$("#company-member").click(function(e){
		$("#company-info").toggle(300);
	});

	$("#new-company").click(function(e){
		if ($("#new-company").prop("checked"))
			$("#id_excisting_company").prop('disabled', true);
		else
			$("#id_excisting_company").prop('disabled', false);
		
		$("#company-name").toggle(200);
		$("#company-rut").toggle(200);
	});
	</script>

	<script type="text/javascript">
	// returns true if rut is valid, false if invalid
	function validateRut(input){
		return true;
	}

	function formatDigits(digits){
		if (digits.length < 3)
			return digits;
		else 
			return formatDigits(digits.substring(0, digits.length-3)) + "." + digits.substring(digits.length-3, digits.length);
	}

	// transforms a rut into xx.xxx.xxx-x format
	function formatRut(input){
		input = input.toLowerCase().trim();
		input = input.replace('.', '');
		input = input.replace('-', '');
		var digits = input.substring(0,input.length-1);
		formatedDigits = formatDigits(digits);
		var verifyingDigit = input.charAt(input.length-1);
		return formatedDigits + '-' + verifyingDigit;
	}

	$("#id_rut").change(function(){
		var formatedInput = formatRut($(this).val());
		$(this).val(formatedInput);
		if (!validateRut(formatedInput))
			alert("Rut ingresado no es válido");
	});
	
	</script>
</body>

</html>