<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Registrar venta {{ client }}</h2>

				<!-- For message to user -->
				{% if messages %}
				<div class="row">
					<div class="col-sm-12">
					{% for message in messages %}
						<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
							{{ message }}
						</p>
					{% endfor %}
					</div>
				</div> 
				{% endif %}

				<div class="panel-body">
					<!-- Add new client form -->
					<form action="" method="POST"> {% csrf_token %}

						<div class="row">
							<h3>Información de venta</h3>
							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Variedad <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ sale_form.variety }}
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Volumen <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ sale_form.volume }}
								</div>
							</div>

							<div class="col-sm-12">
								<label class="control-label col-sm-4" for="observations">Precio <label style="color:red">*</label></label>
								<div class="col-sm-8">
									{{ sale_form.price }}
								</div>
							</div>
						</div>

						<!-- Observations -->
						<div class="row">
							<h3>Observaciones</h3>
							<div class="col-sm-12">
								{{ sale_form.observations }}
							</div>
						</div>

						<br>
						<!-- Submit button -->
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" value="Agregar" class="btn btn-default">
								<a href="market_info?id={{ client_id }}" class="btn btn-default">Cancelar</a>
							</div>
							<div class="col-sm-8">
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios.</p>
							</div>
						</div>

					</form>
					<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
					<a href="market_info?id={{ client_id }}" class="btn btn-default">Volver</a>
				</div>

			</div>
		</div>
	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

	<!-- javascript validator - ->
	<script src="static/js/gen_validatorv4.js"></script>
	
	<script type="text/javascript">
	function validateForm(){
		console.log("okei, validando !");
		var validator = new Validator("saleForm");
		validator.addValidation("id_variety", "req");
		validator.addValidation("id_volume", "req");
		validator.addValidation("id_price", "req");
	}
	</script>
	-->
</body>
</html>