<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Google maps -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script>
	/** shows or hides map */
	function displayMap(){
		var button = $("#mapButton");
		button.text(button.text() == "Mostrar mapa" ? "Ocultar mapa" : "Mostrar mapa");

		var mapCanvas = $("#map-canvas");
		mapCanvas.slideToggle("slow");
	}

	/* initializes the map and places marker */
	function initialize(){
		var address = "{{ geo_info.address }}, {{ geo_info.region }}, Chile";
		var mapCanvas = $("#map-canvas")[0];
		if (address != ""){
			var mapOptions = {
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({'address': address}, function(results, status){
				if (status == google.maps.GeocoderStatus.OK){
					mapOptions.center = results[0].geometry.location;
					var map = new google.maps.Map(mapCanvas, mapOptions);

					var marker = new google.maps.Marker({
						position: results[0].geometry.location, 
						map: map
					});

					var typeOfClient = "{{ client.type_of_client }}";
					if (typeOfClient == "Actual")
							marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
					if (typeOfClient == "Potencial")
							marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
				}
				else {
					alert('Geocode was not succesful for the following reason:' + status); 
				}
			});
		}
		else mapCanvas.text("No se tiene información geográfica respecto de este cliente.");
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<style>
	#map-canvas {
		width: 100%;
		height: 250px;
		border-style: solid;
	}
	</style>
</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<h2>Detalle {{ client }}</h2>

					<!-- For message to user -->
					{% if messages %}
					<div class="row">
						<div class="col-sm-12">
						{% for message in messages %}
							<p class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} text-center">
								{{ message }}
							</p>
						{% endfor %}
						</div>
					</div> 
					{% endif %}

					<h3>Información de contacto</h3>
					<table class="table table-hover">
						<tr>
							<td class="col-sm-4">Nombre</td>
							<td class="col-sm-8">{{ client }}</td>
						</tr>
						<tr>
							<td>Número{% if client.contact_number_2 %}s{% endif %}</td>
							<td><a href="{{ client.contact_number_1 }}">{{ client.contact_number_1 }}</a>
								{% if client.contact_number_2 %}
									, <a href="{{ client.contact_number_2 }}">{{ client.contact_number_2 }}</a>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Email</td>
							<td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
						</tr>
					</table>

					<h3>Información de empresa</h3>
					<table class="table table-hover">
						<tr>
							<td class="col-sm-4">Compañía</td>
							<td class="col-sm-8">{{ client.company }}</td>
						</tr>
						<tr>
							<td>Cargo</td>
							<td>{{ client.charge }}</td>
						</tr>
					</table>


					<h3>Información de comercial</h3>
					<table class="table table-hover">
						<tr>
						<tr>
							<td class="col-sm-4">Precio Promedio</td>
							<td class="col-sm-8">$ {{ avg_price }}</td>
						</tr>
							<td>Volumen Promedio</td>
							<td>{{ avg_volume }} [ton]</td>
						</tr>
						<tr>
							<td>Variedades</td>
							<td>{% for key, values in varieties.items %}
									{{ key }}
									({{ values }}%), 
								{% endfor %}</td>
						</tr>
					</table>
					<a href="add_sale?id={{ client.id }}" class="btn btn-default" id="register-transaction">Registrar venta</a>
					<a href="add_reservation?id={{ client.id }}" class="btn btn-default" id="register-transaction">Registrar reserva</a>
					<a href="sales_history?id={{ client.id }}" class="btn btn-default" id="view-historic-transatcions">Ver historial ventas</a>
					
					<h3>Información geográfica</h3>
					<table class="table table-hover">
						<tr>
							<td class="col-sm-4">Región</td>
							<td class="col-sm-8">{{ geo_info.region }}</td>
						</tr>
						<tr>
							<td>Provincia</td>
							<td>{{ geo_info.province }}</td>
						</tr>
						<tr>
							<td>Comuna</td>
							<td>{{ geo_info.commune }}</td>
						</tr>
						<tr>
							<td>Dirección</td>
							<td>{{ geo_info.address }}</td>
						</tr>
					</table>
					<div class="col-bg-12" id="map-canvas"><!-- map goes here --></div><br>
					<button class="btn btn-default" id="mapButton" onclick="displayMap()">Ocultar mapa</button>

					<h3>Observaciones</h3>
					<div style="border: 1px solid #CCCCCC">
						<p class="text-justify" style="margin: 1%"> {{ client.observations }}</p>
					</div>
				</div>
			</div>
			<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
			<a href="market_table{% if client.type_of_client.type == 'Potencial' %}_potential{% endif %}" class="btn btn-default" id="return">Volver</a>
		</div>

	</div>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

</body>
</html>