<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="bkupfer">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

	<title>Crops and Markets</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- List.js -->
	<script src="static/js/list.js"></script>
	<!-- <script src="http://listjs.com/no-cdn/list.js"></script> -->

	<style type="text/css">
	input {
		border:solid 1px #ccc;
		border-radius: 5px;
		padding:7px 14px;
		margin-bottom:10px
	}
	input:focus {
		border-color:#aaa;
	}
	</style>

</head>

<body>

	<div id="wrapper">

		{% include "sidebar.html" %}

		<div id="page-content-wrapper">
			<div class="container-fluid">

				<h2>Historial de ventas {{ client }}</h2>

				<br>
				<div id="clients">
					<input class="search" placeholder="Buscar"/>
					<button class="btn btn-default sort" data-sort="date">Ordenar por fecha</button>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Volúmen Total</th>
								<th>Variedades</th>
								<!--<th>Precio</th>-->
								<th>Detalle</th>
							</tr>
						</thead>
						<tbody class="list">
							{% for sale in sales %}
							<tr>
								<td class="date">{{ sale.date }}</td>
								<td class="volume">{{ sale.total_volume }} [ton]</td>
								<td class="variety">
									{% for key, values in sale.varieties.items %}
										{{ key }}
										({{ values }}%), 
									{% endfor %}
								</td>
								<!--<td class="price">$ {{ sale.price }}</td>-->
								<td><a href="sales_detail?id={{ sale.pk }}">ver detalle</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Alternar Menu</a>
				<a href="market_info?id={{ client.pk }}" class="btn btn-default" id="return">Volver</a>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	var options = {
		valueNames: [ 'date', 'variety','volume', 'price']
	};
	var userList = new List('clients', options);
	</script>

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/menu_toggle.js"></script>
	<script src="static/js/googleanalytics.js"></script>

</body>
</html>